/* .paginate__ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 0px;
    width: 50%;
    margin: 0 auto;

}

.paginate__li{
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #d4eaf5a1;
    padding: 2px 4px;
    color: #565f81;
    font-size: 12px;
    width: 20%;
    text-align: center;

} */

.containerPaginate{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons */

.previousPage, .nextPage{
    background-color: #242424;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 0 5px;
    cursor: pointer;
}

svg{
    width: 20px;
    height: 15px;
}

.searchPage{
    padding: 5px;
    width: 20%;
    text-align: center;
    border-color: 1px solid #242424;
    border-radius: 5px;
    margin-right: 5px;
}

button[disabled]{
    background-color: #6b6a6a;
    cursor: not-allowed;
}


@media (min-width: 768px) {
    /* .paginate__ul{
        display: flex;
        justify-content: center;
    }

    .paginate__li{
        padding: 4px 8px;
    } */

    .searchPage{
        width: 10%;
        
    }
}