.countryContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #657aadb9;
    color: white;
  }
  
  .countryContainer p{
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
  }
  
  .countryContainer h4{
    border-radius: 2px;
    height: fit-content;
    margin: 5px;
    cursor: pointer;
    padding: 0 5px;
    font-size: 10px;
    align-self: center;
  }
  
  .countryContainer h4:hover{
    background-color: rgb(158, 170, 228);
  }