.searchBar{
    display: flex;
}
  
.searchBar input {
    font-size: 14px;
    background-color: #fffbf54f;
    border:none; 
    border-radius: 10px;
    padding: 8px;
    width: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: none;
    text-align: center;
}

.searchBar input:focus{
    border: 2px solid grey;
}


.searchButton {
    border:none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    background-color: #d4eaf56b;
    color: #565f81
}


/* mq */
@media (min-width: 768px) {
    .searchBar input {
        font-size: 14px;
        background-color: #fffbf54f;
        border:none; 
        border-radius: 10px;
        padding: 8px;
        width: 90%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        outline: none;
        height: 40px;
    }

    .searchButton {
        height: 40px;
    }
}