.filtersBar select{
    font-family: 'popins', sans-serif;
    font-size: 15px;
    border: none;
    background-color: #d4eaf5a1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    color: #565f81;
    margin: 0 auto;
    margin-bottom: 15px;
    align-items: center;
    justify-items: center;
    width: auto;
    text-align: center;


}  

.form{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .form{
        grid-template-columns: repeat(4, 1fr);
        justify-items: left;
        align-items: center;
        margin-top: 0;
    }

    .filtersBar select{
        margin-bottom: 0;
        height: 40px;
    }
}


