.containerHome{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
} 

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;

}

/* mq */
@media (min-width: 768px) {
    .containerHome{
        grid-template-columns: repeat(3, 1fr);
    }

    .loading{
        width: 50%;
    }

    .filters{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-items: center;
    }

}

@media (min-width: 1024px) {
    .containerHome{
        grid-template-columns: repeat(4, 1fr);
    }

    .loading{
        width: 40%;
    }

    .filters{
        grid-template-columns: repeat(2, 1fr);
    }

}


